<div class="dataTables_paginate paging_simple_numbers">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)">&lt;</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">&lt;&lt;</a>
      </li>
      <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.currentPage + 1)">&gt;&gt;</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">&gt;</a>
      </li>
    </ul>
    <div class="paging-stats">
      <div class="total-count">
          <span translate>TotalRecords</span>:
          <span id="count">{{pageInfo.TotalCount}}</span>
      </div>
      <div class="total-count">
          <span translate>TotalPages</span>:
          <span id="count">{{pageInfo.TotalPages}}</span>
      </div>
      
    </div>
  </div>
  
  