<div class="container">
  <evry-spinner></evry-spinner>
  <div class="row">
    <div class="col-12 mb-4">
      <h3 *ngIf="location.path() === '/requests'">Requests</h3>
      <h3 *ngIf="location.path() === '/myrequests'">My Requests</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-custom">
        <thead>
          <tr>
            <ng-container *ngIf="location.path() === '/requests'">
              <th>Requested By</th>
              <th>Employee Code</th>
            </ng-container>
            <th>Request #</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of Requests">
            <ng-container *ngIf="location.path() === '/requests'">
              <td>{{request.employee.name}}</td>
              <td> {{request.employee.employeeCode}} </td>
            </ng-container>

            <td>{{request.requestNumber}}</td>
            <td>{{request.fromDate|date:'mediumDate'}}</td>
            <td>{{request.toDate|date:'mediumDate'}}</td>
            <td>
              <span class="green" *ngIf="request.isApproved">Approved</span>
              <span *ngIf="request.isDeclined" class="red">Declined</span>
              <span class="not-set" *ngIf="!request.isApproved && !request.isDeclined">Pending</span>
            </td>
            <td> <a href="javascript:void(0)" title="View Request" (click)="viewRequest(request)"
                ><mat-icon>preview</mat-icon></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
