<div class="container mobile-inner">
  <div class="row  mt-4">
      <div class="clearfix"></div>
      <div class="col-12"><p class="white-color mb-2">Name:</p></div>
      <div class="col-12"><p class="white-color mb-4">Emp ID:</p></div>
  </div>
  <div class="row common-text mb-4">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="sr-no mr-3">1.</span> Where are you currently Located?</div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Tricity<input type="radio" class="ml-1"> <br> (CHD/PKL/Mohali) </span></div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text"> Outside Tricity<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-4">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="sr-no mr-3">2.</span> Please Specify your full current residential address:</div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"></div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
  </div>
  <div class="row common-text mb-2">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="sr-no mr-3">3.</span> Which zone is your present address classified under by the government?</div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Orange Zone<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text">Green Zone<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-4">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"></div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Containment Zone<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text"> Red Zone<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-2">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="sr-no mr-3">4.</span> Do you have any of the following Covid-19 Symptoms currently?</div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"></div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
  </div>
  <div class="row common-text mb-1">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="ml-5">- fever</span></div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Yes<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text"> No<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-1">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="ml-5">- Shortness of Breath</span></div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Yes<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text"> No<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-1">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="ml-5">- Dry Cough</span></div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Yes<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text">No<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-1">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="ml-5">- Running Nose</span></div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Yes<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text">No<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-4">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="ml-5">- Sore Throat</span></div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Yes<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text">No<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-4">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12">
          <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-1 col-12">5.</div>
              <div class="col-lg-11 col-md-11 col-sm-11 col-12 ml-neg-2">DO you hav any pre-existinmg health issue for which you are under medication?
                  (for ex. hypertension, diabetes, heart problem, asthma, lung problem, pregnancy, post-maternity or any other)</div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Yes<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text"> No<input type="radio" class="ml-1"> </span> </div>
 </div>
  <div class="row common-text mb-4">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12">
          <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-1 col-12">6.</div>
              <div class="col-lg-11 col-md-11 col-sm-11 col-12 ml-neg-2">Have you been in recent contact with people suspected or diagnosed with covid-19? </div>             
         </div>
         </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Yes<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text">No<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-4">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12">
          <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-1 col-12">7.</div>
              <div class="col-lg-11 col-md-11 col-sm-11 col-12 ml-neg-2">If in Tricity, have you travelled outside of the area anytime in the last 15 days?</div>             
         </div>
         </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Yes<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text">No<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-2">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12">
          <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-1 col-12">8.</div>
              <div class="col-lg-11 col-md-11 col-sm-11 col-12 ml-neg-2">Following questions are about family members currently staying with you:</div>             
         </div>
         </div>
  </div>
  <div class="row common-text mb-1">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="ml-5">a) Please give a count of the family members your house?</span></div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Yes<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text">No<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-1">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="ml-5">b) Is any of them under 5 years or over 65 years in age?</span></div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Yes<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text">No<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-1">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="ml-5">c) Has any of them presented Covid-19 realted symptoms recently?</span></div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Yes<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text">No<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-5">
      <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="ml-5">d) Has any of them had any recent travel -abroad, inter state or inter-district?</span></div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text">Yes<input type="radio" class="ml-1"> </span> </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text">No<input type="radio" class="ml-1"> </span> </div>
  </div>
  <div class="row common-text mb-4">
      <div class="col-12">
          <input type="radio" class="mr-2 mb-3">I confrim that the above information is complete and accurate to the best of my knowledge that 
              withoutholding any information is unethical and against of the gloabl population fighting the covid-19
              pandemic. 

              <div class="mt-4 text-right mb-4">
                  <a href="javascript:void(0)" class="btn-primary login-btn">Submit</a>
              </div>
      </div>
  </div>

</div>