<div class="container mobile-inner">
    <form [formGroup]="declarationForm" (ngSubmit)="onDeclarationClick(declarationForm)" novalidate style="width: 100%;">

        <div class="row  mt-4">
            <div class="clearfix"></div>
            <div class="col-12">
                <p class="white-color mb-2">Name:</p>
                <input class="white-color mb-2 form-control" formControlName="name">
            </div>
            <div class="col-12">
                <p class="white-color mb-4">Emp ID:</p>
                <input class="white-color mb-4 form-control" formControlName="employeeId">
            </div>
        </div>
        <div class="row common-text mb-4">
            <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="sr-no mr-3">1.</span> Where are you
                currently Located?</div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12" *ngFor="let location of locations"><span
                    class="align-text" *ngIf="location.id==declarationForm.controls.locationId.value">{{location.name}}
                    <input type="radio" checked (change)="onChange('location',0,location.id)" class="ml-1"> <br> </span>
                    <span
                    class="align-text" *ngIf="location.id!=declarationForm.controls.locationId.value">{{location.name}}
                    <input type="radio" (change)="onChange('location',0,location.id)" class="ml-1"> <br> </span>
                </div>
        </div>
        <div class="row common-text mb-4">
            <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="sr-no mr-3">2.</span> Please Specify your
                full current residential address:</div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12">
<input type="text" class="form-control" formControlName="residentialAddress">

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
        </div>
        <div class="row common-text mb-2">
            <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="sr-no mr-3">3.</span> Which zone is your
                present address classified under by the government? </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12" *ngFor="let zone of zones"><span
                    class="align-text"  *ngIf="zone.id==declarationForm.controls.zoneId.value">{{zone.name}}
                    <input type="radio" checked  class="ml-1" (change)="onChange('zone',0, zone.id)">
                </span> 
                <span
                class="align-text"  *ngIf="zone.id!=declarationForm.controls.zoneId.value">{{zone.name}}
                <input type="radio"   class="ml-1" (change)="onChange('zone',0, zone.id)">
            </span>
            
            </div>
        </div>

        <div class="row common-text mb-2">
            <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="sr-no mr-3">4.</span> Do you have any of the
                following Covid-19 Symptoms currently?</div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
        </div>
        <div formArrayName="healthTrackSymptoms">
            <div class="row common-text mb-1" *ngFor="let symptom of healthSymptoms.controls; let i = index;">
                <div [formGroup]="symptom">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="ml-5">-{{symptom.controls.name.value}}
                        </span></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                        <span class="align-text" [hidden]="symptom.controls.value.value!=true">Yes<input type="{{symptom.controls.type.value}}" name="{{i}}_symptomId"
                                (change)="onChange('healthTrackSymptoms',i,true)" checked class="ml-1">
                        </span> 
                        <span class="align-text" [hidden]="symptom.controls.value.value==true">Yes<input type="{{symptom.controls.type.value}}" name="{{i}}_symptomId"
                            (change)="onChange('healthTrackSymptoms',i,true)" class="ml-1">
                    </span> </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text" *ngIf="symptom.controls.value.value==false"> No
                            <input type="{{symptom.controls.type.value}}" checked value="false" name="{{i}}_symptomId"
                                (change)="onChange('healthTrackSymptoms',i,false)" class="ml-1">
                        </span> 
                        <span class="align-text" *ngIf="symptom.controls.value.value!=false"> No
                            <input type="{{symptom.controls.type.value}}" value="false" name="{{i}}_symptomId"
                                (change)="onChange('healthTrackSymptoms',i,false)" class="ml-1">
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row common-text mb-4">
            <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-12">5.</div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-12 ml-neg-2">DO you hav any pre-existinmg health
                        issue for which you are under medication?
                        (for ex. hypertension, diabetes, heart problem, asthma, lung problem, pregnancy,
                        post-maternity or any other)</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                <span class="align-text" *ngIf="declarationForm.controls.preExistHealthIssue.value==true">Yes<input type="radio"  checked (change)="onChange('preExistHealthIssue',0,true)" class="ml-1">
                </span> 
            
                <span class="align-text" *ngIf="declarationForm.controls.preExistHealthIssue.value!=true">Yes<input type="radio"  (change)="onChange('preExistHealthIssue',0,true)" class="ml-1">
                </span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                <span class="align-text" *ngIf="declarationForm.controls.preExistHealthIssue.value==fase"> No<input type="radio" checked (change)="onChange('preExistHealthIssue',0,false)" class="ml-1">
                </span> 
                <span class="align-text" *ngIf="declarationForm.controls.preExistHealthIssue.value!=fase"> No<input type="radio" (change)="onChange('preExistHealthIssue',0,false)" class="ml-1">
                </span> 
            </div>
        </div>
        <div class="row common-text mb-4">
            <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-12">6.</div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-12 ml-neg-2">Have you been in recent contact with
                        people suspected or diagnosed with covid-19? </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text" *ngIf="declarationForm.controls.contactWithCovidPeople.value==true">Yes<input type="radio" checked (change)="onChange('contactWithCovidPeople',0,true)" class="ml-1">
                </span>
                <span class="align-text" *ngIf="declarationForm.controls.contactWithCovidPeople.value!=true">Yes<input type="radio" (change)="onChange('contactWithCovidPeople',0,true)" class="ml-1">
                </span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text" *ngIf="declarationForm.controls.contactWithCovidPeople.value==false">No<input type="radio" checked class="ml-1" (change)="onChange('contactWithCovidPeople',0,false)">
                </span>
                <span class="align-text" *ngIf="declarationForm.controls.contactWithCovidPeople.value!=false">No<input type="radio" class="ml-1" (change)="onChange('contactWithCovidPeople',0,false)">
                </span>
            </div>
        </div>
        <div class="row common-text mb-4">
            <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-12">7.</div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-12 ml-neg-2">If in Tricity, have you travelled
                        outside of the area anytime in the last 15 days?</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text" *ngIf="declarationForm.controls.travelOustSideInLast15Days.value==true">Yes<input type="radio"  checked (change)="onChange('travelOustSideInLast15Days',0,true)" class="ml-1">
                </span> 
                <span class="align-text" *ngIf="declarationForm.controls.travelOustSideInLast15Days.value!=true">Yes<input type="radio" (change)="onChange('travelOustSideInLast15Days',0,true)" class="ml-1">
                </span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text" *ngIf="declarationForm.controls.travelOustSideInLast15Days.value==false">No<input type="radio" checked class="ml-1" (change)="onChange('travelOustSideInLast15Days',0, false)">
                </span> 
            
                <span class="align-text" *ngIf="declarationForm.controls.travelOustSideInLast15Days.value!=false">No<input type="radio" class="ml-1" (change)="onChange('travelOustSideInLast15Days',0, false)">
                </span>
            </div>
        </div>
        <div class="row common-text mb-2">
            <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-12">8.</div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-12 ml-neg-2">Following questions are about family
                        members currently staying with you:</div>
                </div>
            </div>
        </div>
        <div formArrayName="healthTrackQuestionAnswers">
            <div class="row common-text mb-1"
                *ngFor="let healthQuestion of healthTrackerQuestions.controls; let i = index;">
                <div [formGroup]="healthQuestion">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-12"><span class="ml-5">
                        {{alphabet[i]}})  
                            {{healthQuestion.controls.question.value}}</span></div>
                            
                    <div *ngIf="healthQuestion.controls.type.value.toLowerCase()=='input'" class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <input type="text" formControlName="value">
                    </div>
                    <div *ngIf="healthQuestion.controls.type.value.toLowerCase()!='input'">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-12"><span class="align-text" *ngIf="healthQuestion.controls.value.value==true">Yes<input
                                    type="{{healthQuestion.controls.type.value}}" checked name="{{i}}_questionId"
                                    (change)="onChange('healthTrackQuestionAnswers',i,true)" class="ml-1"> </span>
                                    <span class="align-text" *ngIf="healthQuestion.controls.value.value!=true">Yes<input
                                        type="{{healthQuestion.controls.type.value}}" name="{{i}}_questionId"
                                        (change)="onChange('healthTrackQuestionAnswers',i,true)" class="ml-1"> </span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-12"><span class="align-text" *ngIf="healthQuestion.controls.value.value==false">No<input
                                    type="{{healthQuestion.controls.type.value}}" checked name="{{i}}_questionId"
                                    (change)="onChange('healthTrackQuestionAnswers',i,false)" class="ml-1"> 
                                </span>
                                <span class="align-text" *ngIf="healthQuestion.controls.value.value!=false">No<input
                                    type="{{healthQuestion.controls.type.value}}" name="{{i}}_questionId"
                                    (change)="onChange('healthTrackQuestionAnswers',i,false)" class="ml-1"> 
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row common-text mb-4">
            <div class="col-12">
                <input type="radio" class="mr-2 mb-3">I confrim that the above information is complete and accurate
                to the best of my knowledge that
                withoutholding any information is unethical and against of the gloabl population fighting the
                covid-19
                pandemic.

                <div class="mt-4 text-right mb-4">
                    <button id="declaration" type="submit" class="btn-primary login-btn">
                        Submit
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>