
  <section class="login-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center "><a href="javascript:void(0)"><img src="../../assets/images/footer-logo.png" class="mb-4"
              alt="POC" title="POC"></a>
          <h6 class="mt-4">Welcome to TietoEvry Survey</h6>
        </div>
        <form action="" style="width: 100%;">
          <div class="col-12">
            <input type="text" placeholder="Email ID" class="custom-input" name="email"
              [(ngModel)]="loginDetails.email">
            <input type="password" placeholder="Password" class="custom-input" name="password"
              [(ngModel)]="loginDetails.password">
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-12"><a href="javascript:void(0)">Forgot Password</a></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-right"> Don't have an account <a
                  href="javascript:void(0)">Sign up</a></div>
            </div>
          </div>

          <div class="col-12 text-center mt-5">
            <button id="login" type="submit" class="btn btn-primary" (click)="onLoginClick()">
              Login
              <!-- <mat-progress-spinner diameter="20" *ngIf="isGetting" class=""  mode="indeterminate" value="50">
        </mat-progress-spinner> -->
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
