<div class="login-bg">
  <section class="login-wrapper">
    <div class="login-section">
      <span class="logo-top">
        <a href="javascript:void(0)"> <img src="../../../assets/images/logo.png" alt="TietoEVRY" title="TietoEVRY"></a>
      </span>
      <h6 class="pt-5">Sign in with your organizational account</h6>
      <form class="form-gap" #loginForm="ngForm" action="" novalidate>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="loginDetails.email"
            #email="ngModel" [ngClass]="{ 'error-field-highlighter': loginForm.submitted && email.invalid }" required
            email>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" name="password"
            [(ngModel)]="loginDetails.password" #password="ngModel"
            [ngClass]="{ 'error-field-highlighter': loginForm.submitted && password.invalid }" required>
        </div>
        <div class="row custom-font-size">
          <div class="col-lg-5 col-md-5 col-sm-5 col-12"><a href="javascript:void(0)" title="Forgot Password"
              routerLink="/forgot-password">Forgot Password</a></div>
          <div class="col-lg-7 col-md-7 col-sm-7 col-12 text-right"> Don't have an account? <a
              [routerLink]="['/register']" title="Sign Up">Sign up</a></div>
        </div>
        <button title="Login" type="submit" class="btn btn-primary action-btn" (click)="onLoginClick(loginForm)">
          Login
          <mat-progress-spinner diameter="20" *ngIf="isGetting" class="loading" mode="indeterminate" value="50">
          </mat-progress-spinner>
        </button>
      </form>
    </div>
  </section>
</div>