/* You can add global styles to this file, and also import other style files */


body{ font-family: 'Montserrat', sans-serif; background: #efefef;}
.login-bg{ 
    background:url(../assets/images/login.jpg) no-repeat;
     background-size: cover;}

     .mat-progress-spinner circle, .mat-spinner circle
{
	stroke:  #063a54 !important;
}