<div class="container">
  <form action="" #changePasswordForm="ngForm" novalidate>
    <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="row form-group">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 mt-2">
              Password
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-12">
              <input type="password" placeholder="" class="custom-input input-height" name="password"
                [(ngModel)]="changePassword.password" #password="ngModel"
                [ngClass]="{ 'error-field-highlighter': changePasswordForm.submitted && password.invalid }" required>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="row form-group">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 mt-2">
              Confirm Password
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-12">
              <input type="password" placeholder="" class="custom-input input-height" name="confirmPassword"
                #confirmPassword="ngModel" [(ngModel)]="changePassword.confirmPassword"
                [ngClass]="{ 'error-field-highlighter': changePasswordForm.submitted && confirmPassword.invalid }"
                required>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div *ngIf="password.errors?.passwordCheck && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
          Passwords do not match.
        </div>
        <div class="col-12 text-right">
          <button id="changePassword" type="submit" (click)="onChangePassword(changePasswordForm)"
            class="btn-primary login-btn" translate>

            <span translate>Save</span>
          </button>

        </div>
      </div>
    </div>
  </form>
</div>