.error-field-highlighter {
  border: 1px solid #cc1526 !important;
}

.valid {
  position: absolute;
  top: 11px;
  left: 91%;
  color: green;
}

.wrapper-form {
  background: #fff;
  padding: 50px;
}
