<header class="mb-4 fixed-top" *ngIf="location.path()!=''">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-12"> <a href="javascript:void(0)" class="logo"><img
                                src="../assets/images/logo.png" [routerLink]="['']" alt="TietoEVRY"
                                title="TietoEVRY"></a></div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-12">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav custom-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink01"
                                            [ngClass]="{'active':location.path().indexOf('request') > -1}"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Requests<span class="sr-only">(current)</span>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink01">
                                            <a class="dropdown-item" [ngClass]="{'active':location.path()=='/requests'}"
                                                [routerLink]="['requests']">All Requests</a>
                                            <a class="dropdown-item"
                                                [ngClass]="{'active':location.path()=='/myrequests'}"
                                                [routerLink]="['myrequests']">My
                                                Requests</a>
                                            <a class="dropdown-item" [ngClass]="{'active':location.path()=='/request'}"
                                                [routerLink]="['request']">New Request <span
                                                    class="sr-only">(current)</span></a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle"
                                            [ngClass]="{'active':location.path().indexOf('declaration')>-1}" href="#"
                                            id="navbarDropdownMenuLink02" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Declarations
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink02">
                                            <a class="dropdown-item" [routerLink]="['declarations']"
                                                [ngClass]="{'active':location.path()=='/declarations'}">All
                                                Declarations</a>
                                            <a class="dropdown-item" [routerLink]="['selfdeclaration']"
                                                [ngClass]="{'':location.path()=='/declarations','active':location.path().indexOf('selfdeclaration') > -1}">New
                                                Declaration</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" [ngClass]="{'active':location.path()=='/users'}"
                                            [routerLink]="['users']" aria-haspopup="true" aria-expanded="false">
                                            Users
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12 text-right" *ngIf="location.path()!='/register'">

                <div class="dropdown custom-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="profile-img"> D</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">My profile</a>
                        <a class="dropdown-item" href="#" [ngClass]="{'active':location.path()=='/changepassword'}" [routerLink]="['changepassword']">
                            <span>Change Password</span> </a>
                        <a class="dropdown-item" #logout href="#" (click)="logout.classList.add('active');onLogOut()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<section [class]="{'middle-inner': location.path()!==''}">
    <router-outlet></router-outlet>
</section>

<footer class="mt-5" *ngIf="location.path()!=''">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <a href="javascript:void(0)"><img src="../assets/images/footer-logo.png" alt="TietoEVRY"
                        title="TietoEVRY"></a>
                <p>Tieto and EVRY merge to create the leading Nordic digital <br> services company, promoting openness,
                    trust and diversity.</p>
            </div>
        </div>
    </div>
</footer>