

header{ width:100%; float: left; background: #fff; padding: 20px 0;}




.white-color{ color:#333333;}
.common-text{ color:#444444; font-size: 15px;}
.align-text{float: right; text-align: right;}
.ml-neg-2{ margin-left:-22px;}

.middle-inner{ margin-bottom:40px; padding-top: 170px;}
footer{ width:100%; float: left; margin-top: 20px; background: #063a54; padding: 20px 0;}
footer p{ color: #f7f7f7; font-size: 14px; margin: 10px 0 0 0;}

.signOut{
  position: absolute;
    left:95%;
}

.logout
{
  font-size: 50px !important;
  cursor: pointer;
}

.logo-link
{
  margin-left:7px;
}

::ng-deep.mat-menu-content:not(:empty){
  background-color: #206a8f;
  color:white;
}

::ng-deep .mat-menu-item
{
  color: white;
}
/*=================== Media CSS ===================*/

@media screen and (max-width:767px){
    .login-main{
        width:100%;
    }

    .mobile-inner, .align-text{
      float: left;
      text-align: left;
      margin: 4px 0;
    }

    .mobile-inner, .ml-5{
      margin-left: 0px !important;
    }
    .mobile-inner, .ml-neg-2{
      margin: -21px 0 0 19px;
    }

    .fixed-top, .text-right{
      padding-top:20px;
    }
}

@media screen and (max-width:460px){
  .middle-inner{
    padding-top: 170px;
  }
}
