

header{ width:100%; float: left; background: #fff; padding: 20px 0;}




.white-color{ color:#333333;}
.common-text{ color:#444444; font-size: 15px;}
.align-text{float: right; text-align: right;}
.ml-neg-2{ margin-left:-22px;}

.middle-inner{ margin-bottom:40px; padding-top: 170px;}
footer{ width:100%; float: left; margin-top: 20px; background: #063a54; padding: 20px 0;}
footer p{ color: #f7f7f7; font-size: 14px; margin: 10px 0 0 0;}

.signOut{
  position: absolute;
    left:95%;
}

.logout
{
  font-size: 50px !important;
  cursor: pointer;
}

.logo-link
{
  margin-left:7px;
  cursor: pointer;
}

::ng-deep.mat-menu-content:not(:empty){
  background-color: #206a8f;
  color:white;
}

::ng-deep .mat-menu-item
{
  color: white;
}
/*=================== Media CSS ===================*/

@media screen and (max-width:767px){
    .login-main{
        width:100%;
    }

    .mobile-inner, .align-text{
      float: left;
      text-align: left;
      margin: 4px 0;
    }

    .mobile-inner, .ml-5{
      margin-left: 0px !important;
    }
    .mobile-inner, .ml-neg-2{
      margin: -21px 0 0 19px;
    }

    .fixed-top, .text-right{
      padding-top:20px;
    }
}

@media screen and (max-width:460px){
  .middle-inner{
    padding-top: 170px;
  }
}


/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}