::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 0 !important;
  padding: 0 !important;
  background: #fff !important;
  border: 1px solid #454545 !important;
  width: 100% !important;
  height: 45px !important;
}

::ng-deep .error-field-highlighter .mat-form-field-appearance-fill .mat-form-field-flex {
  border: 1px solid #cc1526 !important;
  height: 45px !important;
}
.wrapper-white {
  padding: 50px;
}
