<div class="container wrapper-white">
  <div class="row">
    <div class="col-12 mb-4">
      <h3>Change Password</h3>
    </div>
  </div>
  <form action="" #changePasswordForm="ngForm" novalidate class="form-content-inner">
    <evry-spinner></evry-spinner>
    <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="row form-group">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 mt-2">
              <label>New Password</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-12">
              <input type="password" placeholder="" class="custom-input" name="password"
                [(ngModel)]="changePassword.password" #password="ngModel"
                [ngClass]="{ 'error-field-highlighter': changePasswordForm.submitted && password.invalid }" required>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="row form-group">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 mt-2">
              <label>Confirm Password</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-12">
              <input type="password" placeholder="" class="custom-input" name="confirmPassword"
                #confirmPassword="ngModel" [(ngModel)]="changePassword.confirmPassword"
                [ngClass]="{ 'error-field-highlighter': changePasswordForm.submitted && confirmPassword.invalid }"
                required>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div *ngIf="password.errors?.passwordCheck && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
          Passwords do not match.
        </div>
        <div class="col-12 text-right">
          <button id="changePassword" title="Save" type="submit" (click)="onChangePassword(changePasswordForm)"
            class="btn-primary submit-btn" translate>
            <span translate>Save</span>
          </button>
          <button class="btn-primary btn-text-only" (click)="cancel(changePasswordForm)">
            <span translate>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
