<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <h3>Users</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-custom">
        <thead>
          <tr>
            <th>Employee Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees$|async">
            <td> {{employee.employeeCode}} </td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>
              <ng-container *ngIf="employee.roles.length>0">
                <ul>
                  <li *ngFor="let role of employee.roles">{{role.roleName}}</li>
                </ul>

              </ng-container>
            </td>
            <td>
              <span *ngIf="employee.status==4" class="green">Confirmed</span>
              <span *ngIf="employee.status==5" class="not-set">Rejected</span>
              <span *ngIf="employee.status==0" class="not-set">Pending</span>

            </td>
            <td> <a href="javascript:void(0)" title="View Detail" (click)="viewUser(employee)">
                <mat-icon>edit</mat-icon>
              </a>
              <a href="javascript:void(0)" title="Delete" (click)="deleteEmployee(employee.id)">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>