<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-custom">
                <tr>
                    <th>Employee #</th>
                    <th>Name</th>
                    <th>Employee Code</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let employee of employees|async">
                    <td>{{employee.id}}</td>
                    <td>{{employee.name}}</td>
                    <td> {{employee.employeeCode}} </td>
                    <td>{{employee.email}}</td>
                    <td>
                        <span *ngIf="employee.roleId==3">Employee</span>
                        <span *ngIf="employee.roleId==2">Security Manager</span>
                        <span *ngIf="employee.roleId==1">HR Manager</span>

                    </td>
                    <td>
                        <span *ngIf="employee.status==4" class="green">Accepted</span>
                        <span *ngIf="employee.status==5" class="not-set">Declined</span>
                        <span *ngIf="employee.status==0" class="not-set">Waiting for Approval</span>

                    </td>
                    <td> <a href="javascript:void(0)" (click)="viewUser(employee)" class="btn-primary action-btn">View
                            User</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>