<div class="container">
  <form action="" #forgotPasswordForm="ngForm" novalidate>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 col-12">
        <div class="row" style="margin-left:24%">
          <div class="col-lg-3 col-md-3 col-sm-3 col-12 mt-2">
            Email
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-12">
            <input type="text" placeholder="" class="custom-input input-height" name="email"
              [(ngModel)]="forgotPassword.email" #email="ngModel"
              [ngClass]="{ 'error-field-highlighter': forgotPasswordForm.submitted && email.invalid }" required email>
          </div>
        </div>
      </div>

    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <button id="forgotPassword" type="submit" (click)="onSendClick(forgotPasswordForm)" [disabled]="isGetting"
          class="btn-primary login-btn" translate>
          <mat-progress-spinner diameter="20" *ngIf="isGetting" class="spinner" mode="indeterminate" value="50">
          </mat-progress-spinner>
          <span translate>Send</span>
        </button>
      </div>
    </div>
  </form>
</div>