<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <h3>Forgot Password</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 wrapper-form">
      <form action="" #forgotPasswordForm="ngForm" novalidate>
        <evry-spinner></evry-spinner>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row" style="margin-left:7%">
              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mt-2">
               <label class="float-right">Email</label>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <input type="text" placeholder="" class="custom-input" name="email"
                  [(ngModel)]="forgotPassword.email" #email="ngModel"
                  [ngClass]="{ 'error-field-highlighter': forgotPasswordForm.submitted && email.invalid }" required email>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-12 margin-left-pass mt-3">
            <button class="btn-primary btn-text-only float-right" [routerLink]="['']">
              <span translate>Cancel</span>
            </button>
            <button id="forgotPassword" title="Send" type="submit" (click)="onSendClick(forgotPasswordForm)"
              [disabled]="isGetting" class="btn-primary float-right login-btn" translate>
              <span translate>Send</span>
            </button>
          
          </div>
        </div>

      </form>
    </div>

  </div>

</div>
