<div class="container wrapper-white">
  <div class="row">
    <div class="col-12 mb-4">
      <h3>Forgot Password</h3>
    </div>
  </div>
  <form action="" #forgotPasswordForm="ngForm" novalidate>
    <evry-spinner></evry-spinner>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 col-12">
        <div class="row" style="margin-left:24%">
          <div class="col-lg-3 col-md-3 col-sm-3 col-12 mt-2">
           <label>Email</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-12">
            <input type="text" placeholder="" class="custom-input" name="email"
              [(ngModel)]="forgotPassword.email" #email="ngModel"
              [ngClass]="{ 'error-field-highlighter': forgotPasswordForm.submitted && email.invalid }" required email>
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-3">
        <button id="forgotPassword" title="Send" type="submit" (click)="onSendClick(forgotPasswordForm)"
          [disabled]="isGetting" class="btn-primary submit-btn" translate>
          <span translate>Send</span>
        </button>
      </div>
    </div>

  </form>
</div>
