.loading {
  position: absolute;
  top: 34%;
  left: 40%;
  &::before {
    left: 20%;
    top: 30%;
  }
}
.error-field-highlighter {
  border: 1px solid #cc1526 !important;
}
::ng-deep mat-progress-spinner.mat-progress-spinner circle {
  stroke: green !important;
}
