@import 'src/styles/partials/_variable.scss';

.action-btn {
  background: #2173a0;
  border: none;
  margin: 0 20px 0 0;
  padding: 10px 30px;
  color: #f5f5f5;
  font-size: 16px;
  text-align: center;
}
.action-btn:hover,
.action-btn:focus {
  outline: none;
  text-decoration: none;
  color: #ffffff;
  background: #063752;
  box-shadow: none;
}

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.not-set {
  color: orange;
  font-weight: bold;
}

::ng-deep .cdk-overlay-container
{
  z-index: 9999 !important;
}

.custom-input{ font-size:14px; color:#343434; background: #fffefe;; border:none; width:100%; border:1px solid #343434; height:40px; padding: 0 15px; margin-bottom: 20px; border-radius:0px;}
.custom-select, .custom-date{ font-size:14px; color:#343434; background: #fffefe;; border:none; width:100%; border:1px solid #343434; height:40px; padding: 0 15px; margin-bottom: 20px; border-radius:0px;}
.custom-input:focus{ outline: none;}
  ::placeholder { 
    color:#ECECEC;
    opacity: 1; 
  }

  .search-btn { 
    position: absolute;
    top: 57px;
    /* float: right; */
    left: 79%;
    background: #063752;
    border: none;
    padding: 8px 47px;
    color: #f5f5f5;
    font-size: 17px;
    text-align: center;}
  .search-btn:hover, .search-btn:focus{ outline: none; text-decoration: none; color: #FFFFFF; background: #2173a0; box-shadow: none;}
  .export-btn { 
    position: absolute;
    top: 5px;
    /* float: right; */
    left: 88%;
    background: #063752;
    border: none;
    padding: 9px 49px;
    color: #f5f5f5;
    font-size: 17px;
    text-align: center;}
  .export-btn:hover, .export-btn:focus{ outline: none; text-decoration: none; color: #FFFFFF; background: #2173a0; box-shadow: none;}

 
  mat-form-field {
    margin-right: 12px;
    width:100%!important;
  }
   ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex
   {
    border-radius: 0 !important;
    padding:  0 !important;
    background: #fff !important;
    border: 1px solid #454545 !important;
    width: 100% !important;
    height:45px !important;
   }

   .input-height
{
  height:45px !important;
}
label {
  &.toggle-label {
    width: 30px;
  }
}

.search-category-margin
{
  margin-left: 57px !important;
}

.search-margin
{
  margin-left:2%;
  padding:9px 23px !important;
}

.table{
margin-top:75px;
}
.bom-elements-pager
{ 
 .dataTables_paginate{
    position: fixed;
    left: 98px;
    top: 87%;
    z-index:99999;
    cursor: pointer;
    @media screen and (min-width: $ipad-xl-screen) {
      left: 165px;
      top: 88%;
    }
  }
  .paging-stats
  {
    display: none;
  }


}
